.singleCard {
  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "space reblogged_by"
    "avatar display_name"
    "avatar account_fullname"
    "content content"
    "footer footer"
    "actions actions";
  background: var(--theme-single-card-bg);

  h1 {
    grid-area: display_name;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 4px;
  }

  h2 {
    grid-area: account_fullname;
    color: var(--theme-subtext);
    font-size: 14px;
    font-weight: normal;
    padding-left: 4px;
  }
}

.rebloggedBy {
  grid-area: reblogged_by;
  margin-bottom: 8px;
  font-size: 75%;
  font-weight: bolder;
  font-style: italic;
  color: var(--theme-subtext);
}

.avatarImage {
  grid-area: avatar;
  margin-right: 4px;

  & > img {
    width: auto;
    height: 48px;
    object-fit: cover;
    border-radius: 4px;
  }
}

.content {
  grid-area: content;
  padding: 8px;
}

.footer {
  grid-area: footer;
  color: var(--theme-subtext);
  font-size: 12px;
  margin-left: 8px;
}

.actions {
  grid-area: actions;
  margin-top: 16px;
}
