.statusRow {
  display: grid;
  grid-template-areas:
    "space2 rebloggedBy rebloggedBy rebloggedBy ago"
    "image displayName acct space ago"
    "image text text text text"
    "a a a a a";
  grid-template-columns: auto auto auto 1fr auto;

  padding: 12px;
  padding-bottom: 8px;
  background: var(--theme-single-card-bg);
  cursor: pointer;
  transition: background 0.1s ease;

  &:hover {
    background: var(--theme-single-card-bg-accent);
  }
}

.rebloggedBy {
  grid-area: rebloggedBy;
  font-size: 75%;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 8px;
  color: var(--theme-subtext);

  & > .icon {
    font-size: 125%;
    margin-right: 0.4em;
  }
}

.avatar {
  grid-area: image;
  margin-right: 8px;

  & > img {
    height: 36px;
    width: 36px;
    border-radius: 4px;
  }
}

.displayName {
  grid-area: displayName;
  font-size: 14px;
  align-self: baseline;
}

.acct {
  grid-area: acct;
  font-weight: normal;
  color: var(--theme-subtext);
  font-style: italic;
  font-size: 12px;
  align-self: baseline;
  margin-left: 4px;
}

.ago {
  grid-area: ago;
  color: var(--theme-subtext);
  font-size: 12px;
}

.text {
  grid-area: text;
  margin: 6px 2px;
  margin-bottom: 8px;
}

.statusActions {
  grid-area: a;
  margin-top: 4px;
}
