.account {
  display: block;
  width: 40px;
  height: 40px;

  border-radius: 4px;
  box-shadow: 0 0 8px var(--theme-default-text);
  cursor: pointer;
  transition: box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: 0 0 16px var(--theme-default-text);
  }

  & > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.button {
  display: block;
  height: 40px;

  border-radius: 4px;
  color: var(--theme-default-text);
}
