:root {
  --theme-background-elements: 24, 28, 42;
  --theme-background: rgb(var(--theme-background-elements));
  --theme-outview-background: #080c1a;
  --theme-default-text: #ffe;
  --theme-subtext: #ccc;
  --theme-text-link: #39f;
  --theme-text-link-visited: #96f;
  --theme-normal-label-background: #9df;
  --theme-normal-label-text: var(--theme-background);

  --theme-appheader-bottom: #046;
  --theme-single-card-bg: #222c40;
  --theme-single-card-bg-accent: #28304a;
  --theme-em-bg: #12263a;
  --theme-status-border: #355;
  --theme-status-actions: #67a;
  --theme-status-actions-lit: #8ac;

  --theme-user-fields-bg: #123;
  --theme-user-fields-border: #245;
  --theme-user-fields-text: #aab;

  --theme-primary-button-bg: #29d;
  --theme-primary-button-bg-hover: #3af;
  --theme-primary-button-bg-active: #058;
  --theme-primary-button-bg-disable: #999;
  --theme-primary-button-text: var(--theme-default-text);
  --theme-primary-button-text-disable: #ccc;
}
