:root {
  --theme-background: #00132a;
  --theme-default-text: #ffe;
  --theme-subtext: #ccc;
  --theme-text-link: #39f;
  --theme-normal-label-background: #9df;
  --theme-normal-label-text: var(--theme-background);

  --theme-appheader-bottom: #046;
  --theme-single-card-bg: #234;
}
